.projectBlock{
	width: 230px;
	height: 250px;
	text-align: center;
	float: left;
}

.projectsBack{
	clear: both; 
}

.projectBlock a{
	border: 0px;
}

.projectBlock h2, .projectBlock h3{
	font-size: 30px;
}

.projectBlock span{
	display: block;
	height: 70px;
}

.projectBlock img{
	
}

.projectBlock h2, .projectBlock h3{
	displayl: block;
}